/*barra de navegacion*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: white;
    padding: 2rem;
    border-bottom: 2px solid rgb(194, 10, 10);
    height: 60px;
    box-shadow: 1px 2px 3px 3px lightgrey;
}

.navbar .container-fluid a{
    color: black;
    font-weight: bold;
}

.navbar .container-fluid a:hover{
    color: rgb(194, 10, 10);
    transition: all 0.2s ease-in;
}

.navbar-collapse{
    align-items: right;
    justify-content: space-between;
}

.navbar button{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

.navbar button:hover{
    color: white;
    background-color: rgb(194, 10, 10);
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    
}

/*hero*/

#portada{
    padding-top: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.container{
    padding-top: 20px;
    text-align: center;
}

.mt-5{
    text-align: center;
    padding-bottom: 20px;
}

/*testimonio*/
.carrusel{
    width: 100%;
    height: 400px;
    background-color: rgba(233, 9, 9, 0.934);
    margin-top: 50px;
}

.testimonios{
    color: white;
}




#formulario{
    padding-top: 50px;
    color: black;
}