/*barra de navegacion*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

.floating-link {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 9999;
    text-decoration: none;
    color: black; 
  }
  
  .floating-icon {
    width: 50px; 
    height: 50px;
    filter: hue-rotate(190deg);
    display: none;
  }
  
.navbar{
    background-color: white;
    padding: 2 rem;
    border-bottom: 2px solid rgb(194, 10, 10);
    height: 70px;
    box-shadow: 1px 2px 3px 3px lightgrey;
}

.navbar .container-fluid a{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar .container-fluid a:hover{
    color: rgb(194, 10, 10);
    transition: all 0.2s ease-in;
}

.navbar-collapse{
    align-items: right;
    justify-content: space-between;
}

.navbar button{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

.navbar button:hover{
    color: white;
    background-color: rgb(194, 10, 10);
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    
}

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
      background-color: rgba(222, 102, 102, 0.83);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(40vh - 70px);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .navbar .navbar-nav .nav-link {
      color: white;
      text-shadow: 1px 2px 3px 3px black;
    }
  }

  @media screen and (max-width: 767px){
    .floating-link {
        position: fixed;
        bottom: 7px; 
        right: 7px;
        text-decoration: none;
        color: black; 
      }

      .floating-icon {
        width: 20px; 
        height: 20px;
        filter: hue-rotate(190deg);
      }
}
  

/*hero*/

#portada{
    padding-top: 20px;
    width: auto;
}

#parrafo1{
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

.mt-5{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 767px){
    #parrafo{
        font-size: 12px;
    }
}


/*testimonios*/
.carrusel{
    height: 450px;
    background-color: rgba(233, 9, 9, 0.934);
    border-bottom: 2px solid rgb(250, 222, 67);
    border-top: 2px solid rgb(250, 222, 67);
}

.testimonios{
    color: white;
    text-align: center;
    transform: translateY(-20px);
}

#carouselExampleCaptions{
    max-width: 500px;
    max-height: 250px;
    align-items: center;
}

.carousel-img{
    width: 100%;
  height: auto;
  height: 300px;
}

/*Suscripciones*/

.titulo{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

#contenedor-cards{
    margin-bottom: 50px;
}


.botones-suscripcion{
    text-decoration: none;
}

.card-title{
    font-weight: bold;
}

#btn-suscripcion1{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
}

#btn-suscripcion1 a{
    color: black;
    font-weight: bold;
}

#btn-suscripcion1:hover{
    background-color: rgb(161, 5, 200);
    color: white;
}

#btn-suscripcion1 a:hover{
    color: white;
}

#btn-suscripcion2{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
}

#btn-suscripcion2 a{
    color: black;
    font-weight: bold;
}

#btn-suscripcion2:hover{
    background-color: rgb(212, 34, 34);
    color: white;
}

#btn-suscripcion2 a:hover{
    color: white;
}

#btn-suscripcion3{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
}

#btn-suscripcion3 a{
    color: black;
    font-weight: bold;
}

#btn-suscripcion3:hover{
    background-color: rgb(246, 158, 6);
    color: white;
}

#btn-suscripcion3 a:hover{
    color: white;
}

#btn-suscripcion4{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
}

#btn-suscripcion4 a{
    color: black;
    font-weight: bold;
}

#btn-suscripcion4:hover{
    background-color: rgb(6, 66, 246);
    color: white;
}

#btn-suscripcion4 a:hover{
    color: white;
}

/*FOOTER*/
footer{
    background-color: rgba(0, 0, 0, 0.633);
    color: white;
    height: 200px;
    border-top: 2px solid rgb(250, 222, 67);;
    margin-top: 35px;
}

footer h3{
    text-align: center;
    padding-top: 45px;
}


/*FORMULARIO*/

#formularioSuscripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  
  h1 {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  label {
    font-size: 0.8rem;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  select {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    text-align: center;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 0.8rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
  }

  #botonVerData{
    padding: 10px 20px;
    display: none;
    margin: 0 auto;
    background-color: #4caf50;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }

  #contenedor-mensaje{
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
  }
  