/*barra de navegacion*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: white;
    padding: 2rem;
    border-bottom: 2px solid rgb(194, 10, 10);
    height: 80px;
    box-shadow: 1px 2px 3px 3px lightgrey;
}

.navbar .container-fluid a{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar .container-fluid a:hover{
    color: rgb(194, 10, 10);
    transition: all 0.2s ease-in;
}

.navbar-collapse{
    align-items: right;
    justify-content: space-between;
}

.navbar button{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

.navbar button:hover{
    color: white;
    background-color: rgb(194, 10, 10);
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    
}

/*hero*/

#portada{
    padding-top: 20px;
    width: auto;
}

.container-fluid{
    height: 450px;
    padding-top: 20px;
    text-align: center;
}

.mt-5{
    text-align: center;
    padding-bottom: 20px;
}

/*testimonios*/
.carrusel{
    height: 450px;
    background-color: rgba(233, 9, 9, 0.934);
    border-bottom: 2px solid rgb(250, 222, 67);
    border-top: 2px solid rgb(250, 222, 67);
}

.testimonios{
    color: white;
    text-align: center;
    transform: translateY(-20px);
}

#carouselExampleCaptions{
    max-width: 500px;
    max-height: 250px;
    align-items: center;
}

.carousel-img{
    width: 100%;
  height: auto;
  height: 300px;
}

/*Suscripciones*/

.titulo{
    padding-top: 50px;
}

.card{
    margin-left: 65px;
}

.cards{
    transform: translateY(-330px);
}

.botones-suscripcion{
    text-decoration: none;
}

#btn-suscripcion1{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
}

#btn-suscripcion1 a{
    color: black;
    font-weight: bold;
}

#btn-suscripcion2{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
}

#btn-suscripcion2 a{
    color: black;
    font-weight: bold;
}

#btn-suscripcion3{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
}

#btn-suscripcion3 a{
    color: black;
    font-weight: bold;
}

#btn-suscripcion4{
    background-color: rgb(250, 222, 67);
    border-radius: 5px;
    border: 2px solid black;
}

#btn-suscripcion4 a{
    color: black;
    font-weight: bold;
}









#formulario{
    padding-top: 50px;
    color: black;
}